@mixin line-clamp($lines) {
  overflow: hidden;
  display: block;
  -webkit-line-clamp: $lines;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

@mixin screen($size) {
  @if $size== "xs" {
    @media (max-width: $breakpoint-xs) {
      @content;
    }
  } @else if $size== "sm" {
    @media (min-width: $breakpoint-xs) {
      @content;
    }
  } @else if $size== "md" {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $size== "lg" {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $size== "xl" {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else {
    @content;
  }
}
